{
    "machdep": "gcc_ppc_64",
    "address-alignment": 64,
    "cpp-extra-args": [
        "-Ui386",
        "-U__i386__",
        "-U__i486__",
        "-U__i586__",
        "-U__i686__",
        "-U__pentium__",
        "-U__pentiumpro__",
        "-U__pentium4__",
        "-U__nocona__",
        "-Uprescott",
        "-U__core2__",
        "-U__k6__",
        "-U__k8__",
        "-U__athlon__",
        "-U__amd64",
        "-U__amd64__",
        "-U__x86_64",
        "-U__x86_64__",
        "-U_M_IX86",
        "-U_M_AMD64",
        "-U_M_IA64",
        "-U_M_X64",
        "-U_LP64",
        "-U__LP64__",
        "-U__x86_64",
        "-U__x86_64__",
        "-U_M_AMD64",
        "-U_M_X64"
    ]
}