{
    "files": [
        "rhash_main.c",
        "tis/stub.c",
        "calc_sums.c",
        "common_func.c",
        "file_mask.c",
        "file.c",
        "find_file.c",
        "hash_check.c",
        "hash_print.c",
        "output.c",
        "parse_cmdline.c",
        "librhash/aich.c",
        "librhash/algorithms.c",
        "librhash/byte_order.c",
        "librhash/crc32.c",
        "librhash/ed2k.c",
        "librhash/gost12.c",
        "librhash/gost94.c",
        "librhash/hex.c",
        "librhash/md4.c",
        "librhash/md5.c",
        "librhash/rhash.c",
        "librhash/sha1.c",
        "librhash/tiger_sbox.c",
        "librhash/tiger.c",
        "librhash/tth.c",
        "librhash/util.c",
        "librhash/whirlpool_sbox.c",
        "librhash/whirlpool.c"
    ],
    "cpp-extra-args": [
        "-Dvolatile=",
        "-I.",
        "-Ilibrhash",
        "-DNDEBUG",
        "-UUSE_OPENSSL",
        "-DRHASH_XVERSION=0x01040000",
        "-DLOCALEDIR=\"/usr/local/share/locale\""
    ],
    "machdep": "gcc_x86_32",
    "address-alignment": 32,
    "val-warn-harmless-function-pointers": false
}