[
    {
        "name": "#01 : test with a text string",
        "include": "common.config",
        "val-args": "~--message~\"abc\""
    },
    {
        "name": "#02 : test stdin processing",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "from": "tis/inputs/abc_stdin",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "val-args": "~-CHMETAGW~--sfv~-"
    },
    {
        "name": "#03 : test with 1Kb data file",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "from": "tests/test1K.data",
                    "name": "test1K.data"
                }
            ]
        },
        "val-args": "~--printf~\"%f %C %M %H %E %G %T %A %W\\n\"~test1K.data"
    },
    {
        "name": "#04 : test calculation/verification of reversed GOST hashes with 1Kb data file",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "from": "tests/test1K.data",
                    "name": "test1K.data"
                }
            ]
        },
        "val-args": "~--simple~--gost~--gost-cryptopro~--gost-reverse~test1K.data"
    },
    {
        "name": "#05 : test calculation/verification of reversed GOST hashes with 1Kb data file (rev)",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "from": "tis/inputs/test1K.data_GOST_result",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "val-args": "~-vc~-"
    },
    {
        "name": "#06 : test handling empty files",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "test-empty.file",
                    "size": 0
                }
            ]
        },
        "val-args": "~-p~\"%m\"~test-empty.file"
    },
    {
        "name": "#07 : test processing of empty message",
        "include": "common.config",
        "val-args": "~-p~\"%m\"~-m~\"\""
    },
    {
        "name": "#08 : test processing of empty stdin",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "tis-mkfs-stdin",
                    "size": 0
                }
            ]
        },
        "val-args": "~-p~\"%m\"~-"
    },
    {
        "name": "#09 : test verification of empty file",
        "include": "common.config",
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "test-empty.file",
                    "size": 0
                }
            ]
        },
        "val-args": "~-c~\"test-empty.file\""
    },
    {
        "name": "#10 : test %x, %b, %B modifiers",
        "include": "common.config",
        "val-args": "~-p~'%f %s %xC %bc %bM %Bh %bE %bg %xT %xa %bW\\n'~-m~\"a\""
    },
    {
        "name": "librhash/test_hashes.c (no args)",
        "files": [
            "librhash/test_hashes.c",
            "librhash/rhash.c",
            "librhash/util.c",
            "librhash/algorithms.c",
            "librhash/byte_order.c",
            "librhash/hex.c",
            "librhash/crc32.c",
            "librhash/md4.c"
        ],
        "cpp-extra-args": [
            "-I."
        ]
    }
]