[
    {
        "name": "librhash/test_hashes.c : test_long_strings : 0",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=0" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 1",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=1" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 2",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=2" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 3",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=3" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 4",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=4" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 5",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=5" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 6",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=6" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 7",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=7" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 8",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=8" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 9",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=9" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 10",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=10" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 11",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=11" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 12",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=12" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 13",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=13" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 14",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=14" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 15",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=15" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 16",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=16" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 17",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=17" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 18",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=18" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 19",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=19" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 20",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=20" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 21",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=21" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 22",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=22" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 23",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=23" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 24",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=24" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 25",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=25" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 26",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=26" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 27",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=27" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 28",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=28" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 29",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=29" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 30",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=30" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 31",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=31" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 32",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=32" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 33",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=33" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 34",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=34" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 35",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=35" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 36",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=36" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 37",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=37" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 38",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=38" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 39",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=39" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 40",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=40" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 41",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=41" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 42",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=42" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 43",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=43" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 44",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=44" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 45",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=45" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 46",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=46" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 47",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=47" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 48",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=48" ],
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings : 49",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config",
        "cpp-extra-args": [ "-DTEST_LONG_STRINGS_CASE=49" ],
        "no-results": true,
        "val-timeout": 10800
    },


    {
        "name": "test with a text string",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "val-args": "~--message~\"abc\""
    },
    {
        "name": "test stdin processing",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/inputs/abc_stdin",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "val-args": "~-CHMETAGW~--sfv~-"
    },
    {
        "name": "test with 1Kb data file",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "from": "tests/test1K.data",
                    "name": "test1K.data"
                }
            ]
        },
        "val-args": "~--printf~\"%f %C %M %H %E %G %T %A %W\\n\"~test1K.data"
    },
    {
        "name": "test calculation/verification of reversed GOST hashes with 1Kb data file",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "from": "tests/test1K.data",
                    "name": "test1K.data"
                }
            ]
        },
        "val-args": "~--simple~--gost~--gost-cryptopro~--gost-reverse~test1K.data"
    },
    {
        "name": "test calculation/verification of reversed GOST hashes with 1Kb data file (rev)",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/inputs/test1K.data_GOST_result",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "val-args": "~-vc~-"
    },
    {
        "name": "test handling empty files",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "test-empty.file",
                    "size": 0
                }
            ]
        },
        "val-args": "~-p~\"%m\"~test-empty.file"
    },
    {
        "name": "test processing of empty message",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "val-args": "~-p~\"%m\"~-m~\"\""
    },
    {
        "name": "test processing of empty stdin",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "tis-mkfs-stdin",
                    "size": 0
                }
            ]
        },
        "val-args": "~-p~\"%m\"~-"
    },
    {
        "name": "test verification of empty file",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "test-empty.file",
                    "size": 0
                }
            ]
        },
        "val-args": "~-c~\"test-empty.file\""
    },
    {
        "name": "test %x, %b, %B modifiers",
        "files": [
            "rhash_main.c"
        ],
        "include": "trustinsoft/common.config",
        "val-args": "~-p~'%f %s %xC %bc %bM %Bh %bE %bg %xT %xa %bW\\n'~-m~\"a\""
    },
    {
        "name": "librhash/test_hashes.c : test_all_known_strings",
        "main": "test_all_known_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "librhash/test_hashes.c : test_long_strings",
        "main": "test_long_strings",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "librhash/test_hashes.c : test_results_consistency",
        "main": "test_results_consistency",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "librhash/test_hashes.c : test_unaligned_messages_consistency",
        "main": "test_unaligned_messages_consistency",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "librhash/test_hashes.c : test_magnet",
        "main": "test_magnet",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config"
    },
    {
        "name": "librhash/test_hashes.c : main",
        "files": [
            "librhash/test_hashes.c"
        ],
        "include": "trustinsoft/common.config"
    }
]





