[
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/util.c",
            "librhash/crc32.c",
            "librhash/byte_order.c",
            "librhash/hex.c"
        ],
        "machdep": "gcc_x86_64",
        "name": "#01 : test with a text string",
        "raw_options": {
            "-val-args": "~--message~\"abc\"",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/md5.c",
            "librhash/sha1.c",
            "librhash/tth.c",
            "librhash/tiger.c",
            "librhash/ed2k.c",
            "librhash/md4.c",
            "librhash/aich.c",
            "librhash/whirlpool.c",
            "librhash/gost12.c",
            "librhash/crc32.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "tis/inputs/abc_stdin",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#02 : test stdin processing",
        "raw_options": {
            "-val-args": "~-CHMETAGW~--sfv~-",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/md5.c",
            "librhash/sha1.c",
            "librhash/tth.c",
            "librhash/tiger.c",
            "librhash/ed2k.c",
            "librhash/md4.c",
            "librhash/aich.c",
            "librhash/whirlpool.c",
            "librhash/gost12.c",
            "librhash/crc32.c",
            "librhash/tiger_sbox.c",
            "librhash/whirlpool_sbox.c",
            "librhash/byte_order.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "tests/test1K.data",
                    "name": "test1K.data"
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#03 : test with 1Kb data file",
        "raw_options": {
            "-val-args": "~--printf~\"%f %C %M %H %E %G %T %A %W\\n\"~test1K.data",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/gost94.c",
            "librhash/sha1.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "tests/test1K.data",
                    "name": "test1K.data"
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#04 : test calculation/verification of reversed GOST hashes with 1Kb data file",
        "raw_options": {
            "-val-args": "~--simple~--gost~--gost-cryptopro~--gost-reverse~test1K.data",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "hash_check.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "tis/inputs/test1K.data_GOST_result",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#05 : test calculation/verification of reversed GOST hashes with 1Kb data file (rev)",
        "raw_options": {
            "-val-args": "~-vc~-",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/md5.c"
        ],
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "test-empty.file",
                    "size": 0
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#06 : test handling empty files",
        "raw_options": {
            "-val-args": "~-p~\"%m\"~test-empty.file",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/md5.c"
        ],
        "machdep": "gcc_x86_64",
        "name": "#07 : test processing of empty message",
        "raw_options": {
            "-val-args": "~-p~\"%m\"~-m~\"\"",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/md5.c"
        ],
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "tis-mkfs-stdin",
                    "size": 0
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#08 : test processing of empty stdin",
        "raw_options": {
            "-val-args": "~-p~\"%m\"~-",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c"
        ],
        "filesystem": {
            "files": [
                {
                    "max_val": 0,
                    "min_val": 0,
                    "name": "test-empty.file",
                    "size": 0
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "#09 : test verification of empty file",
        "raw_options": {
            "-val-args": "~-c~\"test-empty.file\"",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "rhash_main.c",
            "tis/stub.c",
            "librhash/util.c",
            "common_func.c",
            "hash_print.c",
            "librhash/rhash.c",
            "output.c",
            "parse_cmdline.c",
            "librhash/algorithms.c",
            "find_file.c",
            "file.c",
            "file_mask.c",
            "calc_sums.c",
            "librhash/md5.c",
            "librhash/sha1.c",
            "librhash/tth.c",
            "librhash/tiger.c",
            "librhash/ed2k.c",
            "librhash/md4.c",
            "librhash/aich.c",
            "librhash/whirlpool.c",
            "librhash/gost12.c",
            "librhash/crc32.c"
        ],
        "machdep": "gcc_x86_64",
        "name": "#10 : test %x, %b, %B modifiers",
        "raw_options": {
            "-val-args": "~-p~'%f %s %xC %bc %bM %Bh %bE %bg %xT %xa %bW\\n'~-m~\"a\"",
            "-val-warn-harmless-function-pointers": false
        }
    },
    {
        "compilation_cmd": " -Dvolatile= -I . -I librhash",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "librhash/test_hashes.c",
            "librhash/rhash.c",
            "librhash/util.c",
            "librhash/algorithms.c"
        ],
        "machdep": "gcc_x86_64",
        "name": "librhash/test_hashes.c (no args)",
        "raw_options": {
            "-val-warn-harmless-function-pointers": false
        }
    }
]